<div
  class="shortcut"
  [class.hasComponent]="settings.shortcutThemeShowWeather"
  [ngStyle]="{ 'background-image': 'url(' + shortcutThemeImage + ')' }"
>
  <div class="shortcut-content">
    <header class="shortcut-header">
      <img class="brand-mark" src="assets/img/wuyou-mark.svg" alt="" />
      <span>{{ settings.shortcutTitle || settings.title.split(' - ')[0] }}</span>
    </header>

    <main class="shortcut-main">
      <div class="time-block" [attr.aria-label]="$t('_currentTime')">
        <div class="datetime">{{ hours }}:{{ minutes }}</div>
        <div class="days">
          {{ month }}{{ $t('_shortMonth') }}{{ date }}{{ $t('_shortDay') }}
          <span class="day-separator">·</span>{{ dayText }}
        </div>
      </div>

      <div class="hero-copy">
        <h1>{{ $t('_shortcutWelcome') }}</h1>
        <p>{{ $t('_shortcutIntro') }}</p>
      </div>

      <app-search [showLogo]="false" />

      <div class="quick-actions">
        <a routerLink="/side" class="browse-button">
          {{ $t('_browseNav') }}<span aria-hidden="true">↗</span>
        </a>
        <span class="quick-hint">{{ $t('_searchHint') }}</span>
      </div>

      <div class="shortcut-links">
        <div class="links-heading">{{ $t('_exploreCategories') }}</div>
        <app-web-list
          size="large"
          type="dock"
          [dockCount]="settings.shortcutDockCount"
        />
        <div class="category-links">
          <a
            *ngFor="let item of navs().slice(0, 6)"
            routerLink="/side"
            [queryParams]="{ id: item.id }"
          >
            {{ item.title }} <span aria-hidden="true">↗</span>
          </a>
        </div>
      </div>
    </main>

    <div class="dock" *ngIf="dockList.length">
      <span
        class="dock-box"
        (mouseover)="handleMouseOver($event)"
        (mouseleave)="handleMouseLeave($event)"
      >
        <div
          *ngFor="
            let item of dockList;
            let idx = index;
            trackBy: trackByItemWeb
          "
          nz-tooltip
          [nzTooltipTitle]="item['__name__'] || item['name']"
          class="dock-item"
          [attr.data-index]="idx"
          (click)="jumpService.goUrl($event, item['url'])"
        >
          <app-logo
            style="display: block"
            [attr.data-index]="idx"
            [src]="item['icon']"
            [name]="item['name']"
            [size]="0"
            [radius]="10"
          />
        </div>
      </span>
    </div>
  </div>
</div>

<app-fixbar [showCollapse]="false" [showTop]="false" />

<app-weather *ngIf="settings.shortcutThemeShowWeather" />
