.title {
  position: relative;
  font-size: 18px;
  border-bottom: 1px solid #e9edf4;
  padding: 13px 0;
  padding-left: 2px;
  color: #1e293b;
  font-weight: 650;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  user-select: none;
  margin-top: 18px;
  .edit-icon {
    display: none;
    vertical-align: middle;
    margin: 0 5px;
  }
  &:hover {
    .edit-icon {
      display: inline-block;
    }
  }
  .add-icon {
    position: relative;
    z-index: 6;
    cursor: pointer;
    color: #666;
    right: 10px;
  }
}
