<div
  class="logo-shell common-icon"
  [ngStyle]="{
    width: size === 0 ? '' : size + 'px',
    height: size === 0 ? '' : size + 'px',
    minWidth: size + 'px',
    minHeight: size + 'px',
    borderRadius: radius + 'px'
  }"
>
  <div
    *ngIf="!imageLoaded"
    class="circle"
    [ngStyle]="{
      background: backgroundColor,
      color: foregroundColor,
      fontSize: fallbackFontSize
    }"
  >
    {{ firstLetter }}
  </div>
  <img
    *ngIf="imageSrc"
    [src]="imageSrc"
    [class.loaded]="imageLoaded"
    class="icon"
    draggable="false"
    loading="lazy"
    alt=""
    (load)="onLoad()"
    (error)="onError()"
  />
</div>
