.icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  pointer-events: none;
  object-fit: contain;
  transition: all 0.12s linear;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(27, 50, 87, 0.07);
  font-weight: 700;
  line-height: 1;
}

.common-icon {
  transition: all 0.1s linear;
}
